/* Start of General */
@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/ARIAL.ttf);
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffd7ba;
  font-size: 1.6rem;
}

.li-none {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  background-color: #f1cdb3;
  border-radius: 10rem;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.margin-bottom-small {
  margin-bottom: 2.5rem;
}

.margin-bottom-medium {
  margin-bottom: 3.2rem;
}

.margin-bottom-big {
  margin-bottom: 3.4rem;
}

/* End of General */

.section-main {
  background-image: url("../../assets/images/start-screen-background.jpg");
  padding: 6rem 4rem 0 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ul {
  display: flex;
  gap: 3.5rem;
}

.header-ul li a {
  color: #cdcdcd;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header-ul .about-shelter a {
  border-bottom: 2px solid #fafafa;
  color: #fafafa;
}


.hover-efects a:link,
.hover-efects a:active,
.hover-efects a:hover {
  color: rgb(207, 115, 115);
}

.logo-bg {
  color: #f1cdb3;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo-sm {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin-top: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-align: center;
}

.section-1-main {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 6rem;
  align-items: flex-start;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.2rem;
  margin-top: 16.3rem;
}

.not-only-heading {
  font-size: 4.4rem;
  width: 70%;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 130%;
}

.not-only-paragraph {
  line-height: 160%;
  color: #cdcdcd;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.section-about {
  display: flex;
  justify-content: center;
  gap: 12rem;
  background-color: #fff;
  padding: 8rem 4rem 10rem 4rem;
}

.section-about-article {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  width: 43rem;
  padding: 1.4rem 0;
}

.section-about-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 90%;
}

.section-about-paragraph {
  font-size: 1.5rem;
  color: #4c4c4c;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
}

.section-our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 8rem 4rem 10rem 4rem;
  background-color: #f6f6f6;
}

.our-friends-article {
  display: flex;
  align-items: center;
  gap: 5.3rem;
}

.arrow-image {
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.arrow-image:hover {
  transform: translateY(-1.5rem);
}


.our-section-flex {
  display: flex;
  gap: 9rem;
}

.our-friends-paragraph {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

.our-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
  background-color: #fff;
  padding-bottom: 3rem;
}

.our-section-card:hover > .btn-card {
  background-color: rgb(187, 237, 237);
}

.our-section-card:hover {
  background-color: #f6f6f6;
}

.our-section-card p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 0.06em;
}

.btn-card {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
  line-height: 130%;
  background-color: #fff;
  border: 2px solid #f1cdb3;
}

.btn-get-to-know-make:hover {
  transform: translateY(-1.5rem);
}

.btn-card:hover {
  transform: translateY(-1.5rem);
}

.section-help-us {
  background-color: #fff;
  padding: 8rem 4rem 10rem 4rem;
}

.help-us-images-first {
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-bottom: 5.5rem;
}

.help-us-paragraph {
  margin-bottom: 6rem;
  text-align: center;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.help-us-images-second {
  display: flex;
  justify-content: center;
  gap: 12rem;
}

.help-us-images-first div,
.help-us-images-second div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.help-us-images-first div p,
.help-us-images-second div p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.section-donation {
  padding: 8rem 18.2rem 10rem 18.3rem;
  background-color: #f6f6f6;
}

.section-donation-main {
  display: flex;
  gap: 3rem;
}

.credit-card-div {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #f1cdb3;
  padding: 1rem 1.5rem;
  border-radius: 9px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.credit-card-div:hover {
  transform: translateY(-0.5rem);
}


.donation-information {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.section-donation-heading {
  font-size: 3.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.section-donation-paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 110%;
  letter-spacing: 0.06em;
}


.credit-card-number {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.legal-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #b2b2b2;
  font-style: italic;
  line-height: 150%;
}

/* Footer */

.footer {
  background-image: url("../../assets/images/footer-background.png");
  background-size: cover;
  padding: 4rem 4rem 0 4rem;
  display: flex;
  gap: 16rem;
}

.footer h3 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.footer p {
  color: #f1cdb3;
  font-size: 1.9rem;
  line-height: 115%;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
}

.footer-card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 1.6rem;
}

.footer-card div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-card-2 {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.footer-card-2 div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pin-img {
  width: 2.2rem;
  height: 3.2rem;
}

.phone-email-img {
  width: 4rem;
  height: 3.2rem;
}

/* Footer ends here */