@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/ARIAL.ttf);
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* img {
  width: 100%;
} */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ffd7ba;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.default-display-none {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: #fff;
}

.header-ul {
  display: flex;
  gap: 3.5rem;
}

.header-ul li a {
  color: #545454;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.hover-efects a:active,
.hover-efects a:hover {
  color: rgb(207, 115, 115);
}

.logo-bg {
  color: #545454;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo-sm {
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
  margin-top: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-align: center;
}

.our-pets {
  border-bottom: 4px solid #f1cdb3;
  font-weight: 600;
}

.our-pets-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 41px;
}

.our-pets-friends {
  padding: 8rem 4rem 9.5rem 4rem;
  background-color: #f6f6f6;
}

.our-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
  background-color: #fafafa;
  padding-bottom: 3rem;
}

.our-section-card:hover > .btn-card {
  background-color: rgb(187, 237, 237);
}

.our-section-card:hover {
  background-color: #f6f6f6;
}

.our-section-card p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 0.06em;
}

.btn {
  background-color: #f1cdb3;
  border-radius: 10rem;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.our-pets-article {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 40px;
  padding: 15px 0;
  margin-bottom: 45px;
}

.new-guest {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f1cdb3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.arrow-disable:hover {
  transform: translateY(0) !important;
  cursor: not-allowed;
}

.icons-div {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.icons-div button {
  border: none;
  border-radius: 100px;
  background-color: inherit;
}

.pointer-button {
  cursor: pointer;
  transition: all 0.3s;
}

.pointer-button:hover {
  transform: translateY(-1rem);
}

.footer {
  background-image: url("../../assets/images/footer-background.png");
  background-size: cover;
  padding: 4rem 4rem 0 4rem;
  display: flex;
  gap: 16rem;
}

.footer h3 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.footer p {
  color: #f1cdb3;
  font-size: 1.9rem;
  line-height: 115%;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
}

.footer-card {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin-top: 1.6rem;
}

.footer-card div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-card-2 {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.footer-card-2 div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pin-img {
  width: 2.2rem;
  height: 3.2rem;
}

.phone-email-img {
  width: 4rem;
  height: 3.2rem;
}

.margin-bottom-small {
  margin-bottom: 2.5rem;
}

.margin-bottom-medium {
  margin-bottom: 3.2rem;
}

.margin-bottom-big {
  margin-bottom: 3.4rem;
}

.footer-cards-wrapper {
  display: flex;
  gap: 13rem;
}

@media (min-width: 767px) and (max-width: 1279px) {
  .helper-dissapear-tablet {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;
    background-color: #fff;
  }

  .logo-sm {
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    margin-top: 0.9rem;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .our-pets-article {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 40px;
    padding: 15px 0;
    margin-bottom: 45px;
  }

  .our-pets-heading {
    margin-bottom: 3rem;
  }

  .our-pets-article {
    padding: 0;
    margin-bottom: 4rem;
  }

  .our-pets-friends {
    padding: 7.8rem 9.4rem 7rem 9.4rem;
  }

  .footer {
    background-image: url("../../assets/images/footer-background.png");
    background-size: cover;
    padding: 2.5rem 4rem 0 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.2rem;
  }

  .footer p {
    letter-spacing: 0.085em;
  }

  .footer h3 {
    letter-spacing: 0.059em;
  }

  .footer-cards-wrapper {
    display: flex;
    gap: 6.1rem;
    padding-top: 0.5rem;
  }

  .footer-card {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
    margin-top: 0;
    max-width: 27.8rem;
  }

  .footer-card-2 {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    max-width: 30.2rem;
    gap: 3.3rem;
  }

  .margin-bottom-big {
    margin-bottom: 0;
  }

  .margin-bottom-medium {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .footer {
    background-image: url("../../assets/images/footer-background.png");
    background-size: cover;
    padding: 3rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }

  .header {
    padding: 3rem 5rem 3rem 1rem;
  }

  .our-pets-friends {
    padding: 3.9rem 1rem 3.7rem 1rem;
  }

  .display-none-helper-mobile {
    display: none;
  }

  .our-pets-article {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 40px;
    padding: 0;
    margin-bottom: 4.2rem;
  }

  .icons-div {
    gap: 1rem;
  }

  .our-pets-heading {
    font-size: 2.5rem;
    margin-bottom: 4.2rem;
  }

  .default-display-none {
    display: inline-block;
  }

  .margin-bottom-big {
    margin-bottom: 0;
  }

  .margin-bottom-medium {
    margin-bottom: 0;
  }

  .footer-card {
    margin-top: 0;
    gap: 4.1rem;
  }

  .footer-card-2 {
    margin-top: 0;
    max-width: 30rem;
    gap: 4rem;
  }

  .footer h3 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 27rem;
    align-self: center;
  }

  .footer p {
    text-align: left;
    letter-spacing: 0.09em;
  }

  .margin-bottom-big {
    margin-bottom: 0;
  }

  .margin-bottom-medium {
    margin-bottom: 0;
  }

  .footer-cards-wrapper {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5rem;
  }

  .footer-card div {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }

  .footer-card-2 div {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
  }

  .img-test-wrapper {
    padding: 0 2rem !important;
  }

  .img-test {
    width: 100%;
  }

  .phone-email-img {
    width: 4rem;
    height: 2.6rem;
  }

  .phone-email-img.phone-img {
    width: 4rem;
    height: 3.2rem;
  }
}

/* Dom stuff */

.dom-rotate {
  transform: rotate(90deg);
}

.dom-burger,
.dom-logo {
  z-index: 1;
  transition: all 1s;
}

.dom-display-none {
  display: none;
}

.dom-main-header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0rem;
  right: -100%;
  animation: slide-in 0.5s forwards;
  animation-delay: 0.3s;
}

.dom-nav-width {
  width: 32rem;
  background-color: #292929;
  height: 100%;
  padding-top: 15.8rem;
  position: absolute;
  right: 0;
}

.dom-nav-width ul li a {
  color: #fff;
}

.dom-logo .logo-bg,
.logo-sm {
  color: #f1cdb3;
}

.header-ul.dom-header-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes slide-in {
  100% {
    right: 0;
  }
}

@keyframes slide-in {
  100% {
    right: 0;
  }
}


.dom-main-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dom-div-popup {
  display: flex;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  align-items: center;
}

.dom-div-child {
  max-width: 26rem;
  background-color: #fff;
  padding: 1rem 0.9rem 3.7rem 1rem;
  border-radius: 10px;
}

.dom-li {
  list-style: circle;
}

.closeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  width: 52px;
  height: 52px;
  right: -5rem;
  top: -6rem;
}


.dom-p-f {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;
}

.dom-p-s {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 2rem;
}

.dom-p-t {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  line-height: 110%;
  margin-bottom: 20px;
}